<div class="row mb-3">
  <div class="col-md-12">
    <div class="page-header py-2">
      <h1 class="text-info">
        <i class="fa-sharp fa-solid fa-road"></i>Fiscalizacion
      </h1>
    </div>
    <%- partial('menu') %>
  </div>
</div>
